%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
{deps_dir, "deps"}.
{deps, [
  {lager, "2.*", {git, "git://github.com/basho/lager.git", "2.0.3"}},
  {emysql, ".*", {git, "https://github.com/Eonblast/Emysql", "2f2878cc8000fb89bfa78ff38f202a1a02220c63"}},
  {worker_pool, ".*", {
    git, "https://github.com/marcelog/worker_pool.git",
    "R17_rebar_public_urls"
  }},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "0.9.0"}},
  {eredis, "1.0.5", {git, "https://github.com/wooga/eredis.git", "v1.0.5"}},
  {amqp_client, ".*", {
    git, "https://github.com/jbrisbin/amqp_client",
    "2b8c2c5a3b647fc4b4733978046305acde611a43"
  }},
  {dk_cxy, ".*", {
    git, "https://github.com/marcelog/dk_cxy.git", "f9790d107e146167f2c2d2f8f6ff4e217f6a0230"
  }},
  {uuid, ".*", {
    git, "https://github.com/avtobiff/erlang-uuid.git", "d7f64acd8412b79e854b8c95f4c66d8e071de8d9"
  }},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", "0.8.2"}},
  {covertool, ".*", {git, "https://github.com/idubrov/covertool.git", "f624c07ae88bf3cbafd95f82da1fca6d979238bb"}}
]}.
